<link rel="stylesheet" id="icartMinCss" type="text/css" href="https://icart.identixweb.com/icart/assets/css/icart_fronted.min.css" media="all">
<div class="icart">
    <input type="hidden" id="icartMainPageId" value="607">
    <div class="icart-main icart-top-right-main">
        <style>.iCartBtnToggle svg path{fill:#fff;}</style>
        <button class="icart-btn iCartBtnToggle icart-top-right" href="javascript:void(0)" data-cart-bubble-status="0" disabled data-key="cart_bubble_color" style="display:none;background-color:#089408; ; margin-top:0px;margin-right:0px;" data-bubble-show-status="0" >
            <svg class="icart-svg-icon icart-stickycart-icon icart-animated icartZoomIn" viewBox="0 0 32 32"> <path d="M27.719,20.296l3.607-10.718c0.181-0.519,0.044-0.792-0.103-0.998c-0.374-0.527-1.142-0.512-1.292-0.512 L9.546,8.074L9.002,5.341C8.855,4.732,8.421,4,7.546,4H1.817C1.224,4,1,4.59,1,5.146v1.49C1,7.172,1.222,7,1.838,7h4.837 l3.702,15.873c-0.588,0.623-0.908,1.609-0.908,2.457c0,1.864,1.484,3.465,3.379,3.465c1.791,0,3.132-1.795,3.35-2.795h7.21 c0.218,1,1.305,2.873,3.349,2.873c1.862,0,3.378-1.535,3.378-3.396c0-1.852-1.125-3.609-3.359-3.609 c-0.928,0-2.031,0.133-2.543,1.133h-8.859c-0.643-1-1.521-1.311-2.409-1.345L12.843,21h13.479 C27.338,21,27.538,20.786,27.719,20.296z M11.537,25.514c0-0.709,0.577-1.286,1.286-1.286c0.707,0,1.283,0.577,1.283,1.286 s-0.576,1.285-1.283,1.285C12.113,26.799,11.537,26.223,11.537,25.514z M26.783,26.783c-0.7,0-1.27-0.57-1.27-1.27 c0-0.7,0.569-1.27,1.27-1.27c0.701,0,1.27,0.569,1.27,1.27C28.053,26.213,27.484,26.783,26.783,26.783z"></path> </svg>
        </button>
        <div class="icart-inner icart-top-right icart-slider-drawer icart_popup" style="right:-480px;">
            <!--popup-->
            <div class='popup'>
               <div class='cnt223'>
                   <span data-key="popup_title"><h1>Congratulations</h1></span>
                  <p>%5 OFF applied to your enitire order!</p>
               </div>
            </div>
            <!--end-popup-->
            <div class="icart-cart-main">
                <div class="icart-content">
                    <div class="icart-header">
                        <div class="icart-header-svg-icon" style="display: none;">
                            <svg class="icart-svg-icon" height="15px" width="15px" viewBox="0 -31 512.00026 512"> <path d="m164.960938 300.003906h.023437c.019531 0 .039063-.003906.058594-.003906h271.957031c6.695312 0 12.582031-4.441406 14.421875-10.878906l60-210c1.292969-4.527344.386719-9.394532-2.445313-13.152344-2.835937-3.757812-7.269531-5.96875-11.976562-5.96875h-366.632812l-10.722657-48.253906c-1.527343-6.863282-7.613281-11.746094-14.644531-11.746094h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h77.96875c1.898438 8.550781 51.3125 230.917969 54.15625 243.710938-15.941406 6.929687-27.125 22.824218-27.125 41.289062 0 24.8125 20.1875 45 45 45h272c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-272c-8.269531 0-15-6.730469-15-15 0-8.257812 6.707031-14.976562 14.960938-14.996094zm312.152343-210.003906-51.429687 180h-248.652344l-40-180zm0 0"/> <path d="m150 405c0 24.8125 20.1875 45 45 45s45-20.1875 45-45-20.1875-45-45-45-45 20.1875-45 45zm45-15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0"/> <path d="m362 405c0 24.8125 20.1875 45 45 45s45-20.1875 45-45-20.1875-45-45-45-45 20.1875-45 45zm45-15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0"/> </svg>
                        </div>
                        <div class="icart-header-title" data-key="icart_heading_text" style="color:#000; font-size:14px;">SHOPPING CART</div>
                        <button class="icart-close-btn iCartBtnClose">×</button>
                    </div>
                    <div class="icart-checkout-fixed-top icartCheckoutStickyTop"></div>
                    <div class="icartContain" id="icartPage-607">
                        <!-- Cart item html start-->
                <div id="icart-widget-settings-2114" data-widget-id="2" data-element-id="2114" class="icart-cart-items-block icart-section-element icartSectionElement icartChildAffectRules icartCartItemWidget activeWidget" data-help="customHtml_heading" data-id="icart-widget-settings-2114">
                    <div class="icart-content-title" data-key="heading_background_color_2114" style="background: #edebeb;display:block;">
                        <span data-key="heading_text_2114"><p style="text-align: center;"><strong>REVIEW YOUR CART</strong></p></span>
                    </div>
                    <div class="icart-justadded icart-plr-comman" data-key="widget_contain_2114" style="background-color:#ffffff">
                        <div class="icart-list" data-key="cart_product_list_2114">
                            <div class="icart-items icart-slick-items icart-gift-all">
                    <div class="icart_cartitem_upsell_2114">
                        <div class="icart-bottom-new-checkout icartCartItemListContainer icartSkeltonContain"><div class="icart-new-box">
                    <div class="icart-item-img">
                        <div class="icart-img icartEqualheight"><img src="https://icart.identixweb.com/icart/assets/img/placeholder.png"></div>
                    </div>
                    <div class="icart-item-content">
                        <p class="icart-item-title" data-key="item_title_2114" style="color:#000000;">Product title</p>
                        <span class="icart-vendor-title" data-key="item_vendor_2114" style="display:block;color:#000000;">Vendor</span>
                        <span class="icart-vendor-title" data-key="item_variant_2114" style="display:block;color:#000000">Rose red 48pcs</span>
                        <div class="icart-flex icart-cart-item-mt">
                           <div class="icart-flex-half-fourty icart-item-price icart-flex icart-flex-wrap">
                              <span class="icart-product-compare-price" data-key="compare_price_2114" style="display:block;color:#ff0000;">Dhs. XX.XX</span>
                              <span class="icart-product-price" data-key="selling_price_2114" style="color:#000000;">Dhs. YY.YY</span>
                           </div>
                        </div>
                    </div>
                    <div class="icart-item-quantity">
                        <div class="icart-quantity icart-buttons-added icartQuantity" data-key="item_quantity_2114" style="display:flex;">
                           <input type="button" value="-" class="icartMinus" onclick="quantity_picker(this,'minus');">
                           <input type="text" step="1" min="1" max="" name="quantity" value="01" title="Qty" id="qtyPicker_21140" class="icart-qty-picker icartQtyPicker" size="4" pattern="" inputmode="" return isNumberKey(event)>
                           <input type="button" value="+" class="icartPlus" onclick="quantity_picker(this,'plus');">
                        </div>
                        <a href="javascript:;" class="icart-item-remove" data-key="remove_btn_color_2114" style="color:#000000">Remove</a>
                    </div>
                </div><div class="icart-new-box">
                    <div class="icart-item-img">
                        <div class="icart-img icartEqualheight"><img src="https://icart.identixweb.com/icart/assets/img/placeholder.png"></div>
                    </div>
                    <div class="icart-item-content">
                        <p class="icart-item-title" data-key="item_title_2114" style="color:#000000;">Product title</p>
                        <span class="icart-vendor-title" data-key="item_vendor_2114" style="display:block;color:#000000;">Vendor</span>
                        <span class="icart-vendor-title" data-key="item_variant_2114" style="display:block;color:#000000">Rose red 48pcs</span>
                        <div class="icart-flex icart-cart-item-mt">
                           <div class="icart-flex-half-fourty icart-item-price icart-flex icart-flex-wrap">
                              <span class="icart-product-compare-price" data-key="compare_price_2114" style="display:block;color:#ff0000;">Dhs. XX.XX</span>
                              <span class="icart-product-price" data-key="selling_price_2114" style="color:#000000;">Dhs. YY.YY</span>
                           </div>
                        </div>
                    </div>
                    <div class="icart-item-quantity">
                        <div class="icart-quantity icart-buttons-added icartQuantity" data-key="item_quantity_2114" style="display:flex;">
                           <input type="button" value="-" class="icartMinus" onclick="quantity_picker(this,'minus');">
                           <input type="text" step="1" min="1" max="" name="quantity" value="01" title="Qty" id="qtyPicker_21141" class="icart-qty-picker icartQtyPicker" size="4" pattern="" inputmode="" return isNumberKey(event)>
                           <input type="button" value="+" class="icartPlus" onclick="quantity_picker(this,'plus');">
                        </div>
                        <a href="javascript:;" class="icart-item-remove" data-key="remove_btn_color_2114" style="color:#000000">Remove</a>
                    </div>
                </div><div class="icart-new-box">
                    <div class="icart-item-img">
                        <div class="icart-img icartEqualheight"><img src="https://icart.identixweb.com/icart/assets/img/placeholder.png"></div>
                    </div>
                    <div class="icart-item-content">
                        <p class="icart-item-title" data-key="item_title_2114" style="color:#000000;">Product title</p>
                        <span class="icart-vendor-title" data-key="item_vendor_2114" style="display:block;color:#000000;">Vendor</span>
                        <span class="icart-vendor-title" data-key="item_variant_2114" style="display:block;color:#000000">Rose red 48pcs</span>
                        <div class="icart-flex icart-cart-item-mt">
                           <div class="icart-flex-half-fourty icart-item-price icart-flex icart-flex-wrap">
                              <span class="icart-product-compare-price" data-key="compare_price_2114" style="display:block;color:#ff0000;">Dhs. XX.XX</span>
                              <span class="icart-product-price" data-key="selling_price_2114" style="color:#000000;">Dhs. YY.YY</span>
                           </div>
                        </div>
                    </div>
                    <div class="icart-item-quantity">
                        <div class="icart-quantity icart-buttons-added icartQuantity" data-key="item_quantity_2114" style="display:flex;">
                           <input type="button" value="-" class="icartMinus" onclick="quantity_picker(this,'minus');">
                           <input type="text" step="1" min="1" max="" name="quantity" value="01" title="Qty" id="qtyPicker_21142" class="icart-qty-picker icartQtyPicker" size="4" pattern="" inputmode="" return isNumberKey(event)>
                           <input type="button" value="+" class="icartPlus" onclick="quantity_picker(this,'plus');">
                        </div>
                        <a href="javascript:;" class="icart-item-remove" data-key="remove_btn_color_2114" style="color:#000000">Remove</a>
                    </div>
                </div></div>
                    </div>
                    <div class="icart-checkout icartCartSubTotalContain">
                        <div class="icart-flex icart-flex-wrap icart-jc-sb icart-ai-c icart-final-total">
                            <div class="icart-cart-total"><label data-key="cart_subtotal_text_2114" style="font-size:14px;color:#000;">Subtotal</label></div>
                            <div class="icart-cart-price"><label class="icartCartSubTotal" data-gift-price="0" data-key="cart_total_size_2114" style="font-size:14px;color:#000;">Dhs. XX.XX</label></div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                    <input type="hidden" class="icartCartItemWidgetData" value="{&quot;id&quot;:&quot;595&quot;,&quot;row_section_id&quot;:&quot;2114&quot;,&quot;store_client_id&quot;:&quot;812&quot;,&quot;is_show_section_title&quot;:&quot;1&quot;,&quot;heading_text&quot;:&quot;&lt;p style=\&quot;text-align: center;\&quot;&gt;&lt;strong&gt;REVIEW YOUR CART&lt;\/strong&gt;&lt;\/p&gt;&quot;,&quot;heading_background_color&quot;:&quot;#edebeb&quot;,&quot;widget_background_color&quot;:&quot;#ffffff&quot;,&quot;is_show_variant&quot;:&quot;1&quot;,&quot;is_show_quantity_picker&quot;:&quot;1&quot;,&quot;is_show_vendor&quot;:&quot;1&quot;,&quot;product_title_color&quot;:&quot;#000000&quot;,&quot;variant_color&quot;:&quot;#000000&quot;,&quot;vendor_color&quot;:&quot;#000000&quot;,&quot;remove_btn_text&quot;:&quot;Remove&quot;,&quot;remove_btn_color&quot;:&quot;#000000&quot;,&quot;price_display_type&quot;:&quot;2&quot;,&quot;compare_price_color&quot;:&quot;#ff0000&quot;,&quot;selling_price_color&quot;:&quot;#000000&quot;,&quot;cart_empty_message&quot;:&quot;&lt;p style=\&quot;text-align: center;\&quot;&gt;&lt;strong&gt;YOUR SHOPPING CART IS EMPTY&lt;\/strong&gt;&lt;\/p&gt;&quot;,&quot;cart_subtotal_text&quot;:&quot;Subtotal&quot;,&quot;cart_subtotal_color&quot;:&quot;#000&quot;,&quot;cart_subtotal_size&quot;:&quot;14&quot;,&quot;cart_total_color&quot;:&quot;#000&quot;,&quot;cart_total_size&quot;:&quot;14&quot;,&quot;status&quot;:&quot;1&quot;,&quot;created&quot;:&quot;2020-09-13 21:14:26&quot;,&quot;updated&quot;:&quot;2020-09-14 15:42:38&quot;,&quot;is_active&quot;:1,&quot;section_id&quot;:2,&quot;money_format&quot;:&quot;RGhzLiB7e2Ftb3VudH19&quot;,&quot;store_name&quot;:&quot;lcoutureuae.myshopify.com&quot;}">
                </div>
                <!-- Cart item html end--> <div id="icart-widget-settings-2115" data-section="Product upsell" data-widget-id="3" data-alternate-option="1" class="icart-section-element icartSectionElement icart-product-upsell-block icart-pad-o icartProductUpsell icartActiveUpsell activeWidget" data-id="icart-widget-settings-2115" data-product-type="0" data-element-id="2115">
                    <div class="icart-widget-inner-loader icartWidgetInnerLoader" id="icartWidgetInnerLoader2115" style="display:none"><svg viewBox="0 0 44 44" class="Polaris-Spinner Polaris-Spinner--colorTeal Polaris-Spinner--sizeLarge" role="status"><path d="M15.542 1.487A21.507 21.507 0 0 0 .5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 0 0-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 1 0-.9-2.863z"></path></svg></div>
                    <div class="icart-widget-hide icartWidgetInnerHtml">
                        <input type="hidden" class="icartProductId2115" value="">
                        <input type="hidden" class="icartCollectionId2115" value="">
                        <input type="hidden" class="icartAltProductId2115" value="">
                        <input type="hidden" class="icartProductTypeArryName2115" value="product_type_arry">
                        <input type="hidden" class="icartCollectionProductTags2115" value="">
                        <input type="hidden" class="icartShopifyRecommTags2115" value="">
                        <input type="hidden" class="icartShopifyRecommLoaderTxt2115" value="We are looking for the best offers for you...">
                        <div class="icart-content-title" data-key="heading_background_color_2115" style="background: #000000;display:block">
                            <span data-key="heading_text_2115"><p style="text-align: center;"><span style="color: rgb(255, 255, 255);"><strong>PEOPLE WHO BOUGHT THIS ALSO BOUGHT</strong></span></p></span>
                        </div>
                        <div class="icart-product-upsell icart-plr-comman icartSkeltonContain" id="icartProductUpsellContain2115" data-key="widget_contain_2115" style="background-color:#fff">
                            <div class="icart-loading-overlay" id="icartUpsellLoader2115" style="display:none"><svg viewBox="0 0 44 44" class="Polaris-Spinner Polaris-Spinner--colorTeal Polaris-Spinner--sizeLarge" role="status"><path d="M15.542 1.487A21.507 21.507 0 0 0 .5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 0 0-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 1 0-.9-2.863z"></path></svg></div>
                            <form>
                                <div class="icart-list icart-all-upsellu">
                                    <div class="icart-items icart-setting-main-item-top" id="icartItems2115">
                                        <div class="icart-block-ok icart-countdown-section icart-item-timer icart-ai-c icart-jc-c icart-setting-bottom icartCountdownSection" id="icartCountdownSection2115" data-key="is_show_timer_2115" style="">
                                            <div class="icart-main-ok icart-setting-bottom" id="icartTimerConatin">
                                                <span class="icart-product-timer" data-key="timer_background_color_2115" style="background-color:#000000">
                                                <span class="icart-count-hr icartCounterMin" data-key="timer_text_color_2115" style="color:#fff">00</span>
                                                <span class="icart-timer-text" data-key="timer_text_color_2115" style="color:#fff">Min</span>
                                                </span>
                                                <span class="icart-product-timer" data-key="timer_background_color_2115" style="background-color:#000000">
                                                <span class="icart-count-hr icartCounterSec" data-key="timer_text_color_2115" style="color:#fff">00</span>
                                                <span class="icart-timer-text" data-key="timer_text_color_2115" style="color:#fff">Sec</span>
                                                </span>
                                            </div>
                                           <span class="icart-product-timer-text icart-text-setting-ok" data-key="timer_title_2115"><p style="text-align: center;"><span style="color: rgb(0, 0, 0);">GET 15% OFF</span></p><p style="text-align: center;"><span style="color: rgb(0, 0, 0);">THIS ITEM FOR THE NEXT:</span></p></span>
                                        </div>
                                        <div class="icarTimeUpMsg" style="display:none">
                                            
                                        </div>
                                        <div class="icart-items-inner">
                                            <div class="icart-flex-half-fifth">
                                                <div class="icart-upsell-product-img">
                                                    <img src="https://icart.identixweb.com/icart/assets/img/placeholder.png">
                                                </div>
                                            </div>
                                            <div class="icart-item-content icart-flex-fourty">
                                                <p class="icart-item-title" data-key="prior_product_title_2115" style="color:#000">Product title</p>
                                                <p class="icart-upsell-vendor-title" data-key="is_show_vendor_2115" style="display:block;color:#000;">Vendor</p>
                                                <p>
                                                <select name="color" class="icart-selectbox" data-key="is_show_variant_2115" style="display:block">
                                                     <option>Select variants</option>
                                                  </select>
                                                </p>
                                                <p class="icart-rating" data-key="is_show_star_review_2115" style="display:none">
                                                    <span class="checked">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="checked">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="checked">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                </p>
                                               <div class="icart-item-price">
                                                  <span id="icartComparePriceBlock2115" class="icart-product-compare-price" data-key="compare_price_color_2115" style="color:#de1f1f;display:block">Dhs. XX.XX</span>
                                                  <span id="icartPriceBlock2115" class="icart-product-price" data-key="selling_price_color_2115" style="color:#000">Dhs. YY.YY </span>
                                               </div>
                                            </div>
                                            <div class="icart-btns icart-addtocart icart-flex-half-fourth">
                                               <div class="icart-flex icart-addtocart-section">
                                                  <div class="icart-quantity icart-buttons-added icartQuantity" data-key="is_show_qty_2115" style="">
                                                     <input type="button" value="-" class="icartMinus" onclick="quantity_picker(this,'minus')">
                                                     <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="icart-qty-picker icartQtyPicker" size="4" pattern="" inputmode="" onkeypress="return isNumberKey(event)">
                                                     <input type="button" value="+" class="icartPlus" onclick="quantity_picker(this,'plus')">
                                                  </div>
                                               </div>
                                               <button type="button" class="icart-btn-small icart-btn-color icartAddToCart" data-key="button_text_2115" style="color:#ffffff;background-color:#000000">Add </button>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="icart-error-msg icartAddProdErrMsg" style="display:none"></p>
                                </form>
                            </div>
                            <!-- div.cart-list End -->
                        </div><input type="hidden" class="icartRuleJsStatement" value="KChpQ2FydEl0ZW1ObyA8IDIpKQ==">
                        <input type="hidden" class="icartWidgetTimer" value="20" data-timer_ends_status="2">
                        <input type="hidden" class="icartWidgetTimerEditor" value="20" data-row-section-id="2115">
                    </div>
                </div> <div id="icart-widget-settings-2116" data-widget-id="11" class="icart-section-element icartSectionElement icartChildAffectRules activeWidget icartCheckoutWidgetMainDiv" data-help="customHtml_heading" data-id="icart-widget-settings-2116" data-element-id="2116">
                    <div class="icart-checkout-block">
                        <div class="icart-content-title icartCheckoutTitle" data-key="heading_background_color_2116" style="background: #d3d3d3;display:none;">
                            <span data-key="heading_text_2116"><h4 style="text-align: center;"><strong><span style="font-size: 16px;">Checkout button</span></strong></h4></span>
                        </div>
                        <div class="icart-justadded icart-plr-comman" data-key="widget_contain_2116" style="background-color:#ffffff">
                            <div data-key="cart_product_list_2116" class="icart_cart_product_list_2116">
                                <div class="icart-checkout">
                    <div class="icart-new-lab-bor icartSpecialIntructionCheckout" data-key="special_instruction_2116" style="display:none;">
                        <label data-key="special_instruction_text_2116">Add a note to your order</label>
                        <textarea class="icart-full-width icartAddSpecialInstruction" rows="3">{{cart.note}}</textarea>
                    </div>
                    <div class="icart_checkout_upsell_2116">
                        <div class="icart-checkout-btn icart-font-full icartCheckoutBtnGroup">
                    <button type="button" name="checkout" class="icart-btn-large icart-btn-color icartCheckoutBtn" data-key="checkout_button_2116" style="color:#ffffff;background-color:#000000;border-color:#000000;">Checkout</button>
                </div>
                    </div>
                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="icartWidgetSticky" value="2" data-row-section-id="2116">
                    <input type="hidden" class="icartChckoutTitleStatus" value="0" data-row-section-id="2116">
                    <input type="hidden" class="icartChckoutSpecialInstruction" value="0" data-row-section-id="2116">
                </div> <div id="icart-widget-settings-2138" data-section="Product upsell" data-widget-id="3" data-alternate-option="1" class="icart-section-element icartSectionElement icart-product-upsell-block icart-pad-o icartProductUpsell icartActiveUpsell activeWidget" data-id="icart-widget-settings-2138" data-product-type="0" data-element-id="2138">
                    <div class="icart-widget-inner-loader icartWidgetInnerLoader" id="icartWidgetInnerLoader2138" style="display:none"><svg viewBox="0 0 44 44" class="Polaris-Spinner Polaris-Spinner--colorTeal Polaris-Spinner--sizeLarge" role="status"><path d="M15.542 1.487A21.507 21.507 0 0 0 .5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 0 0-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 1 0-.9-2.863z"></path></svg></div>
                    <div class="icart-widget-hide icartWidgetInnerHtml">
                        <input type="hidden" class="icartProductId2138" value="">
                        <input type="hidden" class="icartCollectionId2138" value="">
                        <input type="hidden" class="icartAltProductId2138" value="">
                        <input type="hidden" class="icartProductTypeArryName2138" value="product_type_arry">
                        <input type="hidden" class="icartCollectionProductTags2138" value="">
                        <input type="hidden" class="icartShopifyRecommTags2138" value="">
                        <input type="hidden" class="icartShopifyRecommLoaderTxt2138" value="We are looking for the best offers for you...">
                        <div class="icart-content-title" data-key="heading_background_color_2138" style="background: #000000;display:block">
                            <span data-key="heading_text_2138"><h4 style="text-align: center;"><span style="color: rgb(255, 255, 255);"><strong>ADD THIS ITEM AND GET A DISCOUNT</strong></span></h4></span>
                        </div>
                        <div class="icart-product-upsell icart-plr-comman icartSkeltonContain" id="icartProductUpsellContain2138" data-key="widget_contain_2138" style="background-color:#ffffff">
                            <div class="icart-loading-overlay" id="icartUpsellLoader2138" style="display:none"><svg viewBox="0 0 44 44" class="Polaris-Spinner Polaris-Spinner--colorTeal Polaris-Spinner--sizeLarge" role="status"><path d="M15.542 1.487A21.507 21.507 0 0 0 .5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 0 0-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 1 0-.9-2.863z"></path></svg></div>
                            <form>
                                <div class="icart-list icart-all-upsellu">
                                    <div class="icart-items icart-setting-main-item-top" id="icartItems2138">
                                        <div class="icart-block-ok icart-countdown-section icart-item-timer icart-ai-c icart-jc-c icart-setting-bottom icartCountdownSection" id="icartCountdownSection2138" data-key="is_show_timer_2138" style="">
                                            <div class="icart-main-ok icart-setting-bottom" id="icartTimerConatin">
                                                <span class="icart-product-timer" data-key="timer_background_color_2138" style="background-color:#000000">
                                                <span class="icart-count-hr icartCounterMin" data-key="timer_text_color_2138" style="color:#fff">00</span>
                                                <span class="icart-timer-text" data-key="timer_text_color_2138" style="color:#fff">Min</span>
                                                </span>
                                                <span class="icart-product-timer" data-key="timer_background_color_2138" style="background-color:#000000">
                                                <span class="icart-count-hr icartCounterSec" data-key="timer_text_color_2138" style="color:#fff">00</span>
                                                <span class="icart-timer-text" data-key="timer_text_color_2138" style="color:#fff">Sec</span>
                                                </span>
                                            </div>
                                           <span class="icart-product-timer-text icart-text-setting-ok" data-key="timer_title_2138"><p style="text-align: center;"><span style="color: rgb(0, 0, 0);">GET 20% OFF</span></p><p style="text-align: center;"><span style="color: rgb(0, 0, 0);">THIS ITEM FOR THE NEXT</span></p></span>
                                        </div>
                                        <div class="icarTimeUpMsg" style="display:none">
                                            
                                        </div>
                                        <div class="icart-items-inner">
                                            <div class="icart-flex-half-fifth">
                                                <div class="icart-upsell-product-img">
                                                    <img src="https://icart.identixweb.com/icart/assets/img/placeholder.png">
                                                </div>
                                            </div>
                                            <div class="icart-item-content icart-flex-fourty">
                                                <p class="icart-item-title" data-key="prior_product_title_2138" style="color:#000">Product title</p>
                                                <p class="icart-upsell-vendor-title" data-key="is_show_vendor_2138" style="display:block;color:#000;">Vendor</p>
                                                <p>
                                                <select name="color" class="icart-selectbox" data-key="is_show_variant_2138" style="display:block">
                                                     <option>Select variants</option>
                                                  </select>
                                                </p>
                                                <p class="icart-rating" data-key="is_show_star_review_2138" style="display:none">
                                                    <span class="checked">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="checked">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="checked">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="">
                                                        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/>
                                                        </svg>
                                                    </span>
                                                </p>
                                               <div class="icart-item-price">
                                                  <span id="icartComparePriceBlock2138" class="icart-product-compare-price" data-key="compare_price_color_2138" style="color:#de1f1f;display:block">Dhs. XX.XX</span>
                                                  <span id="icartPriceBlock2138" class="icart-product-price" data-key="selling_price_color_2138" style="color:#000">Dhs. YY.YY </span>
                                               </div>
                                            </div>
                                            <div class="icart-btns icart-addtocart icart-flex-half-fourth">
                                               <div class="icart-flex icart-addtocart-section">
                                                  <div class="icart-quantity icart-buttons-added icartQuantity" data-key="is_show_qty_2138" style="">
                                                     <input type="button" value="-" class="icartMinus" onclick="quantity_picker(this,'minus')">
                                                     <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="icart-qty-picker icartQtyPicker" size="4" pattern="" inputmode="" onkeypress="return isNumberKey(event)">
                                                     <input type="button" value="+" class="icartPlus" onclick="quantity_picker(this,'plus')">
                                                  </div>
                                               </div>
                                               <button type="button" class="icart-btn-small icart-btn-color icartAddToCart" data-key="button_text_2138" style="color:#ffffff;background-color:#000000">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="icart-error-msg icartAddProdErrMsg" style="display:none"></p>
                                </form>
                            </div>
                            <!-- div.cart-list End -->
                        </div><input type="hidden" class="icartRuleJsStatement" value="KChpQ2FydEl0ZW1ObyA+IDIpKQ==">
                        <input type="hidden" class="icartWidgetTimer" value="20" data-timer_ends_status="0">
                        <input type="hidden" class="icartWidgetTimerEditor" value="20" data-row-section-id="2138">
                    </div>
                </div>
                    </div>
                    <div class="icart-checkout-fixed-bottom icartCheckoutStickyBottom"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="icart-drawer-overlay icart-drawer-toggle icartDrawerOverlay"></div>
</div>
